# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/DerivedData/
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/app.flx
**/ios/**/Flutter/app.zip
**/ios/**/Flutter/flutter_assets/
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/ServiceDefinitions.json
**/ios/Flutter/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/.symlinks/

# Example app specific
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.dart_tool/
example/build/
example/pubspec.lock
example/ios/Pods/
example/ios/Runner.xcworkspace/
example/ios/.symlinks/
example/ios/Flutter/
example/android/.gradle/
example/android/local.properties
